*{
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family:  Arial, Helvetica, sans-serif;
}

/* header */

.header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 30px;
}

.header a{
    margin-right: 15px;
    color: rgba(0, 0, 0, 0.801);
    font-size: 13px;
    text-decoration: inherit;
}
.header a:hover{
    text-decoration: underline;
    cursor: pointer;
}

.header_nav{
    display: flex;
    align-items: center;
    min-width: 11vw;
    justify-content: space-between;
}
.app{
    margin-right: 20px;
}
.btn{
    background: #1A73E8;
    color: white;
    width: 96;
    height: 36;
    padding: 9px 23px;
    margin: 0px 8px;
    border-radius: 5%;
    border: none;
}

/* main body */
.mainbody{
    flex: 1;
    display: flex;
    margin-top: 1%;
    flex-direction: column;
}
.mainbody img{
    object-fit: contain;
    height: 90px;
}

.search_input{
    display: flex;
    align-items: center;
    border: 1px solid lightgrey;
    height: 45px;
    width: 75vw;
    border-radius: 999px;
    max-width: 560px;
    margin: 0 auto;
    margin-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.search_input input{
    flex: 1;
    padding: 10px 20px;
    border: none;
    outline: none;
    
}

.material-icons{
    color: gray;
    cursor: pointer;
}
.search_btn{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    
}
.search_btn button{
    padding: 10px 16px;
    margin: 5px;
    background: #F8F9FA;
    border: none;
    outline: none;
    cursor: pointer;
    color: rgba(53, 47, 47, 0.966);
    font-size: 15px;
    

}
.search_btn :hover{
    box-shadow: 0 2px 6px rgb(32, 33, 36 /28%);
    border-color: rgba(233, 225, 229, 0);
    text-decoration: underline;
    cursor: pointer;
    
}

#f1{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 45px;
    width: 75vw;
    border-radius: 999px;
    max-width: 560px;
    margin: 0 auto;
    margin-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 13px;

}
#f1 a{
    margin: 5px;
    text-decoration: none;
}
#f1 a:hover{
    text-decoration: underline;
    cursor: pointer;
}
/* footer */
.footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: auto;
    background: #eaecee;
    border-top:1px solid rgba(233, 225, 229, 0);
}
.footer_left , .footer_right{
    display: flex;
    justify-content: space-evenly;
}
.footer_link{
    display: flex;
    padding: 10px;
    color: #70757A;
    text-decoration: none;
}
.footer ul li{
    list-style-type: none;
}

.footer ul li:hover{
    text-decoration: underline;
}
